#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}

.block-container {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

[data-testid='stFileUploader'] {
width: max-content;
}

[data-testid='stFileUploader'] section {
padding: 0;
float: left;
}
[data-testid='stFileUploader'] section > input + div {
display: none;
}
[data-testid='stFileUploader'] section + div {
float: right;
padding-top: 0;
}

h1 {
    font-size: larger;
}

h2 {
    font-size: larger;
}